/OakPublishingHouse/appsettings.Production.json
/.vs/OakPublishingHouse/v15/.suo
/.vs/OakPublishingHouse/v15/Server/sqlite3/db.lock
/.vs/OakPublishingHouse/v15/Server/sqlite3/storage.ide
/.vs/OakPublishingHouse/v15/Server/sqlite3/storage.ide-shm
/.vs/OakPublishingHouse/v15/Server/sqlite3/storage.ide-wal
/.vs/config/applicationhost.config
